.calendar {
    background-color: plum
}
.tag {
    background-color: green
}
.subject {
    background-color: coral
}
.task {
    background-color: cyan
}
.instructor {
    background-color: greenyellow
}